@model Gam3iaWeb.SponsorshipInstallment

@{
    ViewBag.Title = "حذف";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>حذف</h2>

<h3>هل أنت واثق من حذف هذا العنصر؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCalledString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCalledString)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.IsDeliveredString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeliveredString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sponsorship.RequestReceiver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sponsorship.RequestReceiver)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
