@model IEnumerable<Gam3iaWeb.Models.CaseStudyViewModel>

@{
    ViewBag.Title = "بحث الحالات";
}
<div class="container">
    <h2>بحث الحالات</h2>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-3">
             @Html.ActionLink("إضافة بحث لحاله جديده", "CreateNew", "CaseStudies", null, new { @class = "btn btn-default" ,@role= "button" }  )
         </div>
        <div class="col-md-3"> @Html.ActionLink(" إضافة بحث لحاله سابقة", "Create", "CaseStudies", null,new {  @class = "btn btn-default", @role = "button" } )</div>

    </div>
    <br />
    <table class="table table-hover table-striped datatable" id="cases">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VillageName)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.ReporterName)
                </th>*@
                @*<th>
                    @Html.DisplayNameFor(model => model.ReporterPhone)
                </th>*@
                @*<th>
                    @Html.DisplayNameFor(model => model.FamilyClass)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.PoorName)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.PoorNID)
                </th>*@
                @*<th>
                    @Html.DisplayNameFor(model => model.PartnerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PartnerNID)
                </th>*@
                @*<th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Breadwinner)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Job)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.EducationState)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.ResearchDate)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.ChildrenInEducationNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TravelledOrMarriedChildrenNo)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Telephone1)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Telephone2)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Target)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDeservedS)
                </th>
                
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VillageName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.ReporterName)
                </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.ReporterPhone)
                    </td>*@
                @*<td>
                    @Html.DisplayFor(modelItem => item.FamilyClass)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.PoorName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.PoorNID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PartnerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PartnerNID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Breadwinner)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Job)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.EducationState)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ResearchDate)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ChildrenInEducationNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TravelledOrMarriedChildrenNo)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone1)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Telephone2)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Target)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ReviewerOpinion)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeservedS)
                </td>
                <td>
                    @Html.ActionLink("تعديل", "Edit", new { id = item.CaseID }) |
                    @Html.ActionLink("التفاصيل", "Details", new { id = item.CaseID }) |
                    @Html.ActionLink("مسح", "Delete", new { id = item.CaseID })
                </td>
            </tr>
        }

    </table>
</div>
